/* styles.css */
:root {
  ---gray50: "rgb(245,246,246)";
  ---gray100: "rgb(230,231,231)";
  ---gray200: "rgb(208,209,209)";
  ---gray300: "rgb(175,177,177)";
  ---gray400: "rgb(135,137,137)";
  ---gray500: "rgb(108,110,110)";
  ---gray600: "rgb(92,94,94)";
  ---gray700: "rgb(78,79,80)";
  ---gray800: "rgb(72,73,73)";
  ---gray900: "rgb(60,61,61)";
  ---gray950: "rgb(38,38,38)";
}
body {
  background-color: var(---gray50);
}
