/* styles.css */
:root {
  ---abbey50: "rgb(245,246,246)";
  ---abbey100: "rgb(230,231,231)";
  ---abbey200: "rgb(208,209,209)";
  ---abbey300: "rgb(175,177,177)";
  ---abbey400: "rgb(135,137,137)";
  ---abbey500: "rgb(108,110,110)";
  ---abbey600: "rgb(92,94,94)";
  ---abbey700: "rgb(78,79,80)";
  ---abbey800: "rgb(72,73,73)";
  ---abbey900: "rgb(60,61,61)";
  ---abbey950: "rgb(38,38,38)";
}
body {
  background-color: rebeccapurple;
}
