.todo div {
  margin-top: 1rem;
}
.todo div:first-of-type {
  margin-top: 0;
}
.todo div:nth-child(5) {
  margin-bottom: 2rem;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list input[type="text"] {
  display: block;
}
.current--task-doing {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.task-doing-child {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 1px solid var(--gray-400);
  margin-top: 1.5rem;
  padding: 1rem 1.25rem; /* 16px */
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.task-doing-child * {
  margin: 0;
  padding: 0;
}
.task-doing-child h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
}
.task-doing-child p {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.task-doing-child2nd {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}
.task-doing-child2nd * {
  font-size: 0.75rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--gray-600);
}
.tdc-priority {
  text-transform: capitalize;
}
