.todo div {
  margin-top: 1rem;
}
.todo div:first-of-type {
  margin-top: 0;
}
.todo div:nth-child(5) {
  margin-bottom: 2rem;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--gray-700);
}
.todo-list input[type="text"] {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="date"] {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="submit"] {
  display: block;
  background-color: var(--gray-950);
  color: var(--gray-50);
  font-weight: 600;
  border: transparent;
  box-shadow: none;
  max-width: 5.25rem;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--gray-700);
}
.todo-list input[type="submit"]:active {
  background-color: orange;
}
.todo-list #task--item-priority {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.current--task-doing {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.task-doing-child {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 1px solid var(--gray-400);
  margin-top: 1.5rem;
  padding: 1rem 1.25rem; /* 16px */
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.task-doing-child * {
  margin: 0;
  padding: 0;
}
.task-doing-child h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
}
.task-doing-child p {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.task-doing-child2nd {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}
.task-doing-child2nd * {
  font-size: 0.75rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: var(--gray-600);
}
.tdc-priority {
  text-transform: capitalize;
}

.tdc-delete {
  background-color: hsl(0, 72%, 51%);
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  border: none;
  box-shadow: none;
  border-radius: 0.125rem;
}
.tdc-delete:hover {
  cursor: pointer;
  background-color: hsl(0, 74%, 42%);
}
.tdc-delete:active {
  text-decoration: underline;
  background-color: hsl(0, 72%, 51%);
}
