.todo div {
  margin-top: 1rem;
}
.todo div:first-of-type {
  margin-top: 0;
}
.todo div:nth-child(5) {
  margin-bottom: 2rem;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--gray-700);
}
.todo-list input[type="text"] {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="date"] {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="submit"] {
  display: block;
  background-color: var(--gray-950);
  color: var(--gray-50);
  font-weight: 600;
  border: transparent;
  box-shadow: none;
  max-width: 5.25rem;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
.todo-list input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--gray-700);
}
.todo-list input[type="submit"]:active {
  background-color: orange;
}
.todo-list #task--item-priority {
  display: block;
  background-color: white;
  border: 1px solid var(--gray-400);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
