:root {
  --border: 1.25px solid black;
}
body {
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 99%);
  width: 30%;
  margin: 0rem auto;
}
header {
  padding: 1rem 0;
  border-bottom: var(--border);
}
input[type="text"] {
  border-radius: 0.25rem;
  border: 1.25px solid black;
  padding: 0.5rem 1rem;
  box-shadow: none;
  outline: none;
}
input[type="text"]:focus {
  border: 1px solid orange;
}
.todo {
  padding: 3rem 0;
  border-bottom: var(--border);
}
.todo .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}
.todo .todo-list:first-of-type {
  margin-top: 1rem;
}
.todo .todo-list input[type="submit"] {
  max-width: 96px;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 0.25rem;
  border: transparent;
  background-color: black;
}
.tasks {
  padding: 1rem 0;
  border-bottom: var(--border);
}
.completed {
  padding: 1rem 0;
  border-bottom: var(--border);
}
.headline {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
}
