:root {
  --white: #fafafa;
  --black: #fafafa;
  --transparent: transparent;
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #09090b;
  --border: 1px solid black;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/public/fonts/SchibstedGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
}
body {
  color: var(--gray-950);
  background-color: var(--gray-50);
  width: 90%;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  min-height: 100dvh;
  place-content: center;
}
header {
  grid-column: span 3; /* 'span 3' is sufficient */
}
.todo {
  padding: 1rem 1.25rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.75rem;
  grid-column: span 3; /* 'span 3' is sufficient */
}
.tasks {
  padding: 1rem 1.25rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.75rem;
  grid-column: span 3; /* 'span 3' is sufficient */
}
.completed {
  padding: 1rem 1.25rem;
  border: 1px solid var(--gray-500);
  border-radius: 0.75rem;
  grid-column: span 3; /* 'span 3' is sufficient */
}
@media screen and (min-width: 1024px) {
  .todo {
    grid-column: span 1; /* 'span 3' is sufficient */
  }
  .tasks {
    grid-column: span 1; /* 'span 3' is sufficient */
  }
  .completed {
    grid-column: span 1; /* 'span 3' is sufficient */
  }
}
