:root {
  --white: #fafafa;
  --black: #fafafa;
  --transparent: transparent;
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #09090b;
  --border: 1px solid black;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/public/fonts/SchibstedGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
}
body {
  color: var(--gray-950);
  background-color: var(--gray-50);
  width: 30%;
  margin: 0rem auto;
}
header {
  padding: 1rem 0;
  border-bottom: var(--border);
}
input[type="text"] {
  border-radius: 0.25rem;
  border: var(--border);
  padding: 0.5rem 1rem;
  box-shadow: none;
  outline: none;
}
input[type="text"]:focus {
  border: 1px solid orange;
}
.todo {
  padding: 3rem 0;
  border-bottom: var(--border);
}
.todo .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}
.todo .todo-list:first-of-type {
  margin-top: 1rem;
}
.todo .todo-list input[type="submit"] {
  max-width: 96px;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 0.25rem;
  border: var(--border);
  background-color: var(--gray-950);
}
.todo .todo-list input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--gray-800);
}
.todo #item-dueDate {
  padding: 0.5rem;
  color: var(--gray-950);
  font-weight: 600;
  border-radius: 0.25rem;
  border: var(--border);
  background-color: white;
  text-transform: uppercase;
}
.tasks {
  padding: 1rem 0;
  border-bottom: var(--border);
}
.completed {
  padding: 1rem 0;
  border-bottom: var(--border);
}
.headline {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
}
.current--task-doing {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.current--task-doing {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 1px solid var(--gray-400);
  margin-top: 1.5rem;
  padding: 1rem 1.25rem; /* 16px */
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.current--task-doing:first-of-type {
  margin-top: 0rem;
}
.current-task--completion {
  margin-left: 10px;
}
.current--task-doing-title {
  margin: 0;
  padding: 0;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: bold;
}
.current--task-doing-description {
  margin: 0;
  padding: 0;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.current--task-doing-description {
  margin: 2px 0 0 30px;
  padding: 0;
}
.task--secondary-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.75rem;
  border-top: 1px sold #71717a;
  margin-left: 30px;
}
